html {
  background-color: rgb(38, 19, 53);
}

h3 {
  padding: 1.5625rem;
  color: rgb(160, 155, 238);
  font-size: 5rem;
}

tbody > :nth-child(2) > :nth-child(1) {
  border: solid;
  color: lime;
}

a.button {
  background: transparent;
  border-color: rgb(75, 131, 89);
  font-weight: unset;
}

a.button:hover {
  border-color: rgb(75, 131, 89);
  background: rgb(9, 85, 81);
  font-weight: unset;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(38, 19, 53);
  text-align: center;
}

.large-container {
  padding: 1.5625rem;
  background-color: rgb(38, 19, 53);
  color: lightseagreen;
}

.striped-table {
  color: lawngreen;
}

.header {
  margin-bottom: 0;
  display: grid;
  padding: 1.5625rem;
  background-color: rgb(38, 19, 53);
  font-size: 2.5px;
  text-align: center;
}

.table-borderless {
  font-size: 1.5625rem;
}

#time {
  color: rgb(223, 237, 238);
  font-size: 5rem;
}

#date {
  color: rgb(223, 237, 238);
  font-size: 3rem;
}
