#alert {
  display: none;
  color: #ff0066;
  font-size: 1.25rem;
}

#header {
  position: sticky;
  top: 0;
}

#logOut {
  visibility: hidden;
}

.disabled {
  background-color: grey;
  cursor: not-allowed;
  pointer-events: none;
  width: 5.3125em;
  text-align:center;
}
