#alert {
  display: none;
  color: #ff0066;
  font-size: 1.25rem;
}

#header {
  position: sticky;
  top: 0;
}

#logOut {
  visibility: hidden;
}

.disabled {
  background-color: grey;
  cursor: not-allowed;
  pointer-events: none;
  width: 5.3125em;
  text-align:center;
}

.sticky {
  position: absolute;
  left: 0;
  top: 20px;
  z-index: 150;
  transform: rotate(-5deg);
  width: 210px;
  min-height: 150px;
  margin: -10px 10px 10px;
  padding: 10px;
  font-family: "Comic Sans MS", "Comic Sans", "Chalkboard SE", "Comic Neue", cursive;
  font-size: 16px;
  color: #000;
  background: rgba(255, 255, 51, 0.8);
  box-shadow: -2px 2px 2px rgba(0,0,0,0.3);
}

